<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Cart</title>
  <link rel="stylesheet" href="MyCart.css" />
</head>
<body>
	<header>
	<div th:replace="fragments/header :: header(${loggedInUser})"></div>
	</header>
  <div id="body">
    <br />
    <div id="grey_box">
      <h1 id="Login_text">My Cart</h1>
    <div id="cart_container">
      <table id="cart_table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Old Price</th>
            <th>New Price</th>
			<th>Quantity</th>
			<th style="width:150px;">Add</th>
			<th style="width:100px;">Remove</th>
          </tr>
        </thead>
        <tbody>
			<tr th:each="ProductDetails : ${cartProducts}">
				<td>
				  <a th:href="@{/product(productId=${ProductDetails.productId})}">
				    <img id="product_image"
				         th:src="@{'/Images/Phones_images/' + ${ProductDetails.imageUrl}}"
				         alt="Product Image"
				         style="cursor: pointer;" />
				  </a>
				</td>
				<td>
				<a id="Same" th:text="${ProductDetails.name}" th:href="@{/product(productId=${ProductDetails.productId})}">name</a>
				</td>
			  <td th:text="${ProductDetails.rating}">★★★★☆</td>
			  <td th:text="${ProductDetails.oldPrice}"><s>$350.00</s></td>
			  <td th:text="${ProductDetails.newPrice}">$299.00</td>
			  <td th:text="${quantityMap[ProductDetails.productId]}">1</td>
			  <td> 
				<div th:if="${ProductDetails.quantity>quantityMap[ProductDetails.productId]}">
			  	  <form th:action="@{/Add2Cart}" method="post">
			  	   <input type="hidden" name="productId" th:value="${ProductDetails.productId}" />
			  		<button type="submit" style="background: none;border: none;color: white;cursor: pointer;font-size: 60px;padding: 4px 8px;">
				   +</button>
			  		</form>
					</div>
				<div th:if="${quantityMap[ProductDetails.productId]>=ProductDetails.quantity}">
					<button type="submit" style="background: none;border: none;color: white;cursor: pointer;font-size: 30px;padding: 4px 8px;">
					Unavailable above <span th:text="${ProductDetails.quantity}">quantity</span></button>
				</div>
			  	</td>

				<td> 
				  <form th:action="@{/DeleteCart}" method="get">
				    <input type="hidden" name="productId" th:value="${ProductDetails.productId}" />
				  <button type="submit"style="background: none;border: none;color: white;cursor: pointer;font-size: 60px;padding: 4px 8px;">-</button>
				  </form>
				</td>
			</tr>	

        </tbody>
      </table>
	  <p style="margin-left:670px; font-size:38px;" id="add_products_mssg" >Add more products to cart:<button id="add_button" onclick="window.location.href='http://localhost:8090/Webpage'" type="submit" >Add</button></p>
	  
	  <p id="total_price" th:text="@{'Total Price = $'+ ${overall_price}}">totalPrice =</p>
	  
	  <p id="total_price" th:text="@{'Total Quantity = '+ ${overall_quantity}}">overall_quantity =</p>
  
	  <form th:action="@{/Order}" method="post">
	  	<input type="hidden" name="productId"  />
	  <button id="payment_options" type="submit" >Purchase</button>
	  </form>   

  </div>
  </div>
  </div>
          <footer id="footer">
  			<div class="foot_panel1"><button id="to_top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
  					  		  	  Back to Top
  					  		  	</button></div>
  			<object type="text/html" data="footer.html" width="100%" height="540px" style="border: none;"></object>
  </footer>
  </body>
  <script>
  	window.addEventListener("pageshow", function (event) {
  	    if (event.persisted) {
  	        window.location.reload();
  	    } 
  	});
  </script>
</html>
