<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="product.css">
	<link rel="stylesheet" href="Webpage.css">
</head>
<body>
    <header>
        <div th:replace="fragments/header :: header(${loggedInUser})"></div>
    </header>
    <main id="purple_this">

      <img id="image" src="images/ipad_6.jpg" alt="Ipad image" style=" margin-bottom:200px;">

	    <div id="right_side">
	              
	              <div id="name">
	                  <h2 th:text="${product.name}">Product Name</h2>
	                  <p id="rating" th:text="${product.rating}">★★★★☆</p>
	                  <p id="Assured">
	                      StoreON
	                      <img id="okay_tick" src="images/Okay_tick.png" alt="tick icon">
	                      Assured product
	                  </p>
	              </div>
	              
	              <br>
	              
	              <div id="price">
	                  <h4>Special price</h4>
	                  <s id="old_price" th:text="'$' + ${product.oldPrice}">$1500</s>
	                  <h1 th:text="'$' + ${product.newPrice}">$1000</h1>
	              </div>
	              
	              <button id="buy_now">Buy now</button>
	              
	              <br>
	              <h3>Available offers:</h3>
	              <br>
	              <p th:text="${product.offers}">
	                  • Special Price Get extra 18% off (price inclusive of cashback/coupon) T&C
	              </p>
	              
	              <br><br>
	              <h3>Highlights:</h3>
	              <br>
	              <p th:utext="${product.highlights}">
	                  ★ 64 GB ROM<br><br>
	                  ★ 27.69 cm (10.9 inch) Full HD Display<br><br>
	                  ★ 12 MP Primary Camera | 12 MP Front<br><br>
	                  ★ iPadOS 16 | Battery: Lithium Polymer<br><br>
	                  ★ Ideal Usage: Entertainment, For Kids, Reading and Browsing<br><br>
	                  ★ Processor: A14 Bionic Chip (64-bit Architecture) with Neural Engine
	              </p>
	              
	              <br>
	              <h3>Description:</h3>
	              <p th:text="${product.description}">
	                  Experience the perfect balance of performance, portability, and power…
	              </p>
	              
	              <br><br>
	              <p>Free Delivery</p>
	              
	          </div>
    </main>
<footer id="footer">
	<div class="foot_panel1"><button id="to_top" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
		  		  	  Back to Top
		  		  	</button></div>
 
	<object type="text/html" data="footer.html" width="100%" height="540px" style="border: none;"></object>
</footer>
</body>
<script>
	window.addEventListener("pageshow", function (event) {
	    if (event.persisted) {
	        window.location.reload();
	    } 
	});
</script>
</html>